@media (min-width:993px) {

	main,
	footer {
		padding-left: 300px;
	}

}

/*  Sidebar */

i.blurple-item {
	color: #7289DA !important;
}

.blurple {
	background-color: #7289DA !important;
}

form.sidebar-form {
	margin: 5px;
}

.side-nav {
	background-color: #23272A;
}

.side-nav .subheader {
	padding-left: 20px;
	color: #99AAB5;
}

.side-nav a {
	color: #fff;
}

.side-nav .divider {
	background-color: #99AAB5;
}

/*  End sidebar */

div.page-announce {
	min-height: 175px;
	height: auto;
	background-color: #7289DA;
	padding: 40px;
	margin-bottom: 30px;
}

h1.page-announce-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 56px;
	color: #fff;
	line-height: 0.5em;
	margin-left: 50px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.page-footer {
	padding-top: 0 !important;
	height: 0;
}

.footer-copyright {
	background-color: #7289DA !important;
}

.material-tooltip {
	display: hidden;
}

.bg-aqua {
	background-color: #00c0ef;
}

.bg-green {
	background-color: #00a65a;
}

.bg-yellow {
	background-color: #f39c12;
}

.bg-red {
	background-color: #dd4b39;
}

.small-box {
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box>.inner {
	padding: 10px;
}

.small-box h3 {
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
	color: #fff;
}

.small-box p {
	color: #fff;
}

.small-box .icon {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15);
}

.small-box>.small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.page-footer {
	padding-top: 0;
	background-color: #f4425c;
	margin-top: 20px;
}

.footer-copyright {
	background-color: inherit;
}

keygroup {
	margin-left: 5px;
}

.getusr {
	width: 500px;
}

.text-thin {
	font-weight: 100;
}

a.button-collapse {
	color: #fff;
}

div.quick-links a {
	width: 100%;
	margin: 5px;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d;
}

.alert {
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}

.alert-warning {
	background-color: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}

#chatInfo p {
	font-size: 20px;
	font-weight: 300;
}


.content,
body {
	background-color: #2C2F33;
}

.section-title {
	color: #fff;
}

table {
	background-color: #23272A;
	color: #99AAB5;
	border-radius: 10px;
	margin: 0 auto;
}

.dropdown-content {
	width: max-content !important;
	height: auto !important;
}

thead {
	color: #fff;
	border-bottom-color: #99AAB5;
}

.guild-icon {
	width: 40px;
}

.guild-icon-sidebar {
	width: 35px;
	margin: 0 15px;
}

.guild-icon-announce {
	width: 45px;
}

.collapsible-header {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 8px 16px !important;
}

.collapsible-body {
	background-color: #2C2F33 !important;
}

.collapsible-body li a {
	padding-left: 45px !important;
	color: #99AAB5;
}

.footer-copyright a {
	color: #9fd5ef;
}

.channel-name {
	background-color: rgba(114, 137, 218, .1);
	color: #7289da;
}

.btn-icon {
	padding: 0 15px;
	margin-right: 10px;
}

@media (min-width: 1024px) {
	.boxes-wrapper {
		display: flex;
		align-items: center;
		justify-content: start;
		flex-direction: row;
	}

	.main-content {
		margin-top: 90px;
	}
}

.boxes-wrapper .xl5 {
	margin-left: auto;
	margin-right: auto;
}

.message-preview-outer {
	margin-top: 40px;
}

.message-body {
	border: 1px solid #7289DA;
	width: 100%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 20px;
	color: #fff;
}

.message-header {
	color: #fff;
	font-size: 18px;
	width: 100%;
	background-color: #7289DA;
	padding: 10px 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.btn-small {
	padding: 0 0.75em
}

.tiny {
	font-size: 1em !important;
}

.roles {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	justify-content: center;
}

.role {
	-webkit-box-sizing: border-box;
	border: 1px solid;
	border-radius: 11px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 500;
	height: 22px;
	margin: 0 4px 4px 0;
	padding: 4px;
	border-color: rgb(66, 133, 244);
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	vertical-align: baseline;
}

.role-button {
	border-radius: 50%;
	height: 12px;
	margin-right: 4px;
	width: 12px;
	background-color: rgb(66, 133, 244);
}

.role-name {
	margin-right: 4px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0 10px;
	padding: 0;
	vertical-align: baseline;
	color: #fff;
}

.message-header label {
	color: #fff;
}

.input-field {
	margin-top: 0;
}

@media (max-width: 320px) {
	.page-announce {
		min-height: 40px;
		height: auto;
	}

	.page-announce-text {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.page-announce {
		min-height: 50px;
		height: auto;
	}

	.page-announce-text {
		font-size: 24px;
	}
}


@media (max-width:768px) {
	.getusr {
		margin-left: 0;
		width: 300px;
	}

	.page-announce-text {
		font-size: 36px;
	}

	.page-announce {
		padding: 20px;
	}
}

@media (max-width:992px) {
	div.page-announce {
		min-height: 60px;
		height: auto;
		padding: 10px;
	}

	h1.page-announce-text {
		font-size: 32px;
	}
}